@media (max-width: 500px) {
    .box_item_component .outside {
        border-top: none;
        overflow: hidden;
    }
}

@media (min-width: 500px) and (max-width: 900px) {
    .box_item_component .outside {
        border-top: none;
        width: 8vw;
        overflow: hidden;
    }
}

@media (min-width: 900px) and (max-width: 1100px) {
    .box_item_component .outside {
        border-top: none;
        width: 6vw;
        overflow: hidden;
    }

    img {
        margin-top: 3vh;
        margin-left: 15%;
    }
}

@media (min-width: 1100px) {
    .box_item_component .outside {
        border-top: none;
        width: 6vw;
        overflow: hidden;
    }

    img {
        margin-top: 3vh;
        margin-left: 70%;
    }
}

.box_item_component .highlighted .outside {
    border-top: 40px solid #ddd;
}

.box_item_component .yellow {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    background-color: #FFD400;
    font-weight: 900;
    text-align: center;
}
.box_item_component .purple {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    background-color: #BB75E0;
    font-weight: 900;
    text-align: center;
}

.box_item_component .blue {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    background-color: #214794;
    font-weight: 900;
    text-align: center;
}

.box_item_component .green {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    background-color: #2D9E3C;
    font-weight: 900;
    text-align: center;
}

.box_item_component .gray {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    background-color: #999999;
    font-weight: 900;
    text-align: center;
}

.box_item_component .black {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    background-color: black;
    font-weight: 900;
    text-align: center;
}

.box_item_component .grabber {
    font-weight: bold;
    padding-right: 6px;
}