.DashboardTitle {
    position: relative;
    left: 0;
    right: 0;

    text-align: center;

    font-size: min(4.5vh, 5vw);

    /* font-family: nexa; */
    font-family: Didot;
    /* text-transform: uppercase; */
}

.viewSelector {
    font-size: min(2vh, 2.5vw);
    position: relative;
    left: 0;
    right: 0;
    top: 1.5vh;
    text-align: center;
}

.currentViewSpan {
    color: #ab98ec;
}

.regularDashboardLabel {
    position: relative;
    left: 0;
    right: 0;
    top: min(2vh, 2vw);

    text-align: Left;
    font-size: min(3vh, 3.5vw);

    text-decoration: underline;

    padding-left: min(0.3vw, 0.3vh);
}

.poemTable {
    display: table;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    top: min(3vh, 3vw);

    margin-bottom: 5vh;

    border-collapse: separate;
    border-spacing: .5vh;
}

.poemTableRow {
    display: table-row;
    width: 100%;
}

.poemTableCell {
    display: table-cell;
    width: 100%;
}

.poemTableCell {
    border-radius: 2vw;
}

.poemTableCell:hover {
    box-shadow: .1vh;
    transform: translate3d(1px, -1px, 0);
}

.singlePoemTable {
    display: table;
    width: 100%;
}

.singlePoemTableRow{
    display: table-row;
    width: 100%;
}

.singlePoemTableCell, .singleStudentTableCell {
    display: table-cell;
    /* Top Right Bottom Left */
    padding: min(0.5vh, 0.5vw) min(0.75vh, 0.75vw) min(0.55vh, 0.55vw) min(0.75vh, 0.75vw);
}

.singlePoemTableCell {
    width: 33%;
}

.singleStudentTableCell {
    width: 50%;
    padding-left: min(0.75vw, 0.75vh);
}

.incompletePoem {
    background-color: #bfb3e9;
    color: #42347c;
}

.completePoem {
    background-color: #42347c;
    color: white;
}

.unstartedPoem {
    background-color: #8674c4;
    color: white;
}

.listedPoemTitle, .listedPoemStatus, .listedPoemAuthor {
    font-size: min(1.85vh, 2.25vw);
    text-align: center;
}

.listedStudentName, .listedStudentClass, .listedStudentPoems {
    font-size: min(1.85vh, 2.25vw);
}

.listedStudentName {
    text-align: left;
    padding-left: min(0.5vw, 0.5vh);
}

.listedStudentClass, .listedStudentPoems {
    text-align: right;
}

.reactLink {
    color: inherit;
    text-decoration: none;
}

.reactLink:hover {
    color: inherit;
    text-decoration: none;
}

.blankRow {
    background-color: inherit;
    color: white;
    padding: 0;
    font-size: 0;
}

.TitleRow {
    text-decoration: underline;
    font-size: min(2.5vh, 3vw);

    text-align: center;
}

.studentName {
    font-size: min(2vh, 2.5vw);
    text-align: left;
}

/* INSTRUCTOR DASHBOARD STYLINGS */

.instructorTable {
    display: table;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    top: min(3vh, 3vw);

    margin-bottom: 5vh;

    border-collapse: separate;
    border-spacing: .5vh;
}

.instructorTableRow {
    display: table-row;
    width: 100%;
}

.instructorTableCell {
    display: table-cell;
    width: 100%;
}

.instructorDetailTable {
    display: table;
    width: 100%;
    background-color: #d1d1d1;
    color: #41234d;

    border-collapse: collapse;

    border-radius: min(2vw, 2vh);

    --PaddingFromSide: min(2vw, 2vh);
    --ExtraPaddingFromSide: min(3vw, 3vh);
}

.instructorDetailTable .instructorDetailRowDetailCollapsed {
    display: none;
}

.instructorDetailRowPrimary, .instructorDetailRowDetailExpanded{
    width: 100%;
    border-radius: 1.2vw;
}

.instructorDetailRowPrimary {
    display: table-row;
    font-size: min(2.05vh, 2.5vw);
}

.instructorDetailTable:hover :nth-child(1){
    background-color: #8ac94b;
    color: #41234d;
}

.instructorDetailRowDetail {
    display: none;
    font-size: min(1.65vh, 2.05vw);
}

.instructorDetailCell {
    display: table-cell;

    padding-left: var(--PaddingFromSide);
}

.instructorDetailRowDetailExpanded:nth-child(1) {
    padding-left: var(--PaddingFromSide);
}

.instructorDetailRowDetailExpanded:nth-child(2) {
    text-align: right;
    padding-right: var(--ExtraPaddingFromSide);
}

.classCell {
    text-align: right;
    padding-right: var(--PaddingFromSide);
}

@keyframes expand {
    from {
        display: none;
    }
    to {
        display: table-cell;
    }
}