.InputLabel {
    font-size: min(5vh, 5vw);
    text-align: left;

    width: 100vw;
}

.poemInput {
    --inputHeight: 40vh;
    height: var(--inputHeight); 
    width: 90vw;

    font-size: calc(var(--inputHeight) * 0.05);


}